.dinners--header {
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: #B1D4E0;
  font-size: 2rem;
}

.dinners--list {
  display: flex;
  justify-content: center;
  margin: .5rem;
  color: #B1D4E0;
  font-size: 1.25rem;
}

.dinners--list--delete {
  margin: .5rem;
  color: #B1D4E0;
  background-color: #2E8BC0;
}

.dinners--button {
  display: flex;
  justify-content: center;
}

.dinners--button--form {
  width: 30%;
  color: #B1D4E0;
  background-color: #2E8BC0;
  font-size: 1.5rem;
}

