.buttons {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.buttons--dinners {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.buttons--dinners--form {
  width: 30%;
  color: #B1D4E0;
  background-color: #2E8BC0;
  font-size: 1.5rem;
}

.buttons--generator {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.buttons--generator--form {
  width: 30%;
  color: #B1D4E0;
  background-color: #2E8BC0;
  font-size: 1.5rem;
}