.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 0%;
  background-color: #0C2D48;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  margin: 10px;
}

.navbar__header {
  display: flex;
  justify-content: center;
  color: #B1D4E0;
}

.navbar__link {
  display: flex;
  justify-content: center;
  color: #B1D4E0;
}
